.home-page {
    padding: 30px;
    background: #FBF9F7;
}
.mt40{
    margin-top: 40px;
}


.advertise-section{
    display: flex;
    text-align: left;
    gap: 0;
    margin: 40px 0;
}

.advertise-section .image-with-description-section,
.advertise-section .image-shop-section {
    width: 50%;
}
.advertise-section .image-shop-section .image-shop-section-image,
.advertise-section .image-with-description-section .image-with-description-section-image,
.advertise-section .image-with-description-section img,
.advertise-section .image-shop-section img{
    width: 100%;
}

.product-heading{
   display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'PT Sans', sans-serif;

} 

.product-heading h3{
     font-size: 22px;
     line-height: 1.2;
     color: #222;
     margin: 0;
 }

 .product-heading .btn{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    padding: 8px 20px;
    border: 1px solid #222;
    color: #222;
    background: #fff;
    transition: all 0.3s ease;
}
.product-heading .btn:hover{
    border: 1px solid #222;
    color: #fff;
    background: #222;
}

.product-list{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.gift-section h3{
    width: 100%;
    margin-top: 40px;
    text-align: center;
}
